<div id="main-navigation" class="clearfix">
  <nav role="navigation">

    <ul class="sf-menu pull-right" role="menu">
      {% assign items = site.data.navegacion[include.language] %}
      {% for item in items %}
        {% assign servicios = site.servicios | where: 'language', page.language | where: 'navegacion', item[0] | sort: 'orden' %}
        <li>
          <a href="{{ item[1].url | absolute_url }}">
            {{ item[1].name }}
          </a>
          {% if item[1].url == 'servicios' %}
            <ul>
            {% for servicio in servicios %}
              <li><a href="{{ servicio.url | absolute_url }}">{{ servicio.title }}</a></li>
            {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

  </nav>
</div>
